---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '(^|.*/)(include|src|app|tests)/'
FormatStyle: file
CheckOptions:
  readability-FunctionCognitiveComplexity.Threshold: '25'
  readability-ImplicitBoolConversion.AllowPointerConditions: 'true'
...
